In [34]:
import pandas as pd
import numpy as np

In [35]:
selic_1 = pd.read_excel("../data/selic_diaria_1.xlsx")
selic_2 = pd.read_excel("../data/selic_diaria_2.xlsx")

selic_1.columns = selic_1.iloc[0]
selic_2.columns = selic_2.iloc[0]

selic_2

,Data,Taxa (% a.a.),Fator diário,Financeiro (R$),Operações,Média,Mediana,Moda,Desvio padrão,Índice de curtose
0,Data,Taxa (% a.a.),Fator diário,Financeiro (R$),Operações,Média,Mediana,Moda,Desvio padrão,Índice de curtose
1,2021-12-31 00:00:00,9.15,1.000347,980678531706.400024,142,9.15,9.15,9.15,0.018,367.469
2,2021-12-30 00:00:00,9.15,1.000347,1004921876080.050049,201,9.15,9.15,9.15,0.022,163.99
3,2021-12-29 00:00:00,9.15,1.000347,1111620648725.48999,791,9.15,9.14,9.15,0.024,223.13
4,2021-12-28 00:00:00,9.15,1.000347,1115080204356.669922,779,9.15,9.14,9.15,0.022,260.401
...,...,...,...,...,...,...,...,...,...,...
498,2020-01-08 00:00:00,4.4,1.000171,453552991866.179993,909,4.4,4.39,4.4,0.031,220.995
499,2020-01-07 00:00:00,4.4,1.000171,454986860796.619995,898,4.4,4.39,4.4,0.03,242.463
500,2020-01-06 00:00:00,4.4,1.000171,445394323834.719971,895,4.4,4.39,4.4,0.028,218.248
501,2020-01-03 00:00:00,4.4,1.000171,441830394652.830017,897,4.4,4.39,4.4,0.028,224.652
502,2020-01-02 00:00:00,4.4,1.000171,441727101590.570007,916,4.4,4.39,4.4,0.039,140.626

In [36]:
selic_1 = selic_1.drop(0)
selic_2 = selic_2.drop(0)

In [37]:
selic_1.rename(columns={"Data":"Date",
                        "Taxa (% a.a.)":"Selic"},inplace=True)
selic_2.rename(columns={"Data":"Date",
                        "Taxa (% a.a.)":"Selic"},inplace=True)

In [38]:
selic_1.set_index("Date",inplace=True)
selic_2.set_index("Date",inplace=True)

In [39]:
# selic_2 = selic_2.loc[:,"Selic"]
# selic_1 = selic_1.loc[:,"Selic"]
selic_1

,Selic,Fator diário,Financeiro (R$),Operações,Média,Mediana,Moda,Desvio padrão,Índice de curtose
Date,,,,,,,,,
2019-12-31,4.4,1.000171,167315977994.73999,276,4.4,4.4,4.4,0.034,220.079
2019-12-30,4.4,1.000171,193624179928.700012,310,4.4,4.4,4.4,0.035,260.714
2019-12-27,4.4,1.000171,276831630955.469971,1102,4.39,4.39,4.4,0.066,71.327
2019-12-26,4.4,1.000171,291544932502.679993,1014,4.39,4.39,4.4,0.048,122.551
2019-12-24,4.4,1.000171,239430796004.369995,506,4.4,4.4,4.4,0.042,104.733
...,...,...,...,...,...,...,...,...,...
2010-01-08,8.65,1.000329,220994231718.799988,1149,8.63,8.65,8.65,0.147,55.655
2010-01-07,8.65,1.000329,224300287589.269989,1152,8.62,8.65,8.65,0.16,47.67
2010-01-06,8.65,1.000329,230079813213.25,1144,8.62,8.65,8.65,0.161,46.527
2010-01-05,8.65,1.000329,241959774739.410004,1235,8.62,8.65,8.65,0.17,39.104
2010-01-04,8.65,1.000329,228778855861.730011,1242,8.62,8.65,8.65,0.175,38.944

In [40]:
selic = pd.concat([selic_1,selic_2])

selic.index = pd.to_datetime(selic.index)
selic.sort_index(inplace=True)

selic = pd.DataFrame(selic)

selic["Week"] = selic.index.week
selic["Weekday"] = selic.index.weekday

selic["CumProd"] = selic["Fator diário"].cumprod()

selic

C:\Users\matno\AppData\Local\Temp\ipykernel_29444\1037740328.py:8: FutureWarning: weekofyear and week have been deprecated, please use DatetimeIndex.isocalendar().week instead, which returns a Series. To exactly reproduce the behavior of week and weekofyear and return an Index, you may call pd.Int64Index(idx.isocalendar().week)
  selic["Week"] = selic.index.week

,Selic,Fator diário,Financeiro (R$),Operações,Média,Mediana,Moda,Desvio padrão,Índice de curtose,Week,Weekday,CumProd
Date,,,,,,,,,,,,
2010-01-04,8.65,1.000329,228778855861.730011,1242,8.62,8.65,8.65,0.175,38.944,1,0,1.000329
2010-01-05,8.65,1.000329,241959774739.410004,1235,8.62,8.65,8.65,0.17,39.104,1,1,1.000659
2010-01-06,8.65,1.000329,230079813213.25,1144,8.62,8.65,8.65,0.161,46.527,1,2,1.000988
2010-01-07,8.65,1.000329,224300287589.269989,1152,8.62,8.65,8.65,0.16,47.67,1,3,1.001318
2010-01-08,8.65,1.000329,220994231718.799988,1149,8.63,8.65,8.65,0.147,55.655,1,4,1.001647
...,...,...,...,...,...,...,...,...,...,...,...,...
2021-12-27,9.15,1.000347,1127542307322.320068,814,9.15,9.14,9.15,0.023,181.89,52,0,2.737598
2021-12-28,9.15,1.000347,1115080204356.669922,779,9.15,9.14,9.15,0.022,260.401,52,1,2.73855
2021-12-29,9.15,1.000347,1111620648725.48999,791,9.15,9.14,9.15,0.024,223.13,52,2,2.739501
2021-12-30,9.15,1.000347,1004921876080.050049,201,9.15,9.15,9.15,0.022,163.99,52,3,2.740453
2021-12-31,9.15,1.000347,980678531706.400024,142,9.15,9.15,9.15,0.018,367.469,52,4,2.741405

In [41]:
ibov = pd.read_csv("../data/weekly_ibov_return.csv",index_col="Date")

ibov.index = pd.to_datetime(ibov.index)
ibov["Weekday"] = ibov.index.weekday

ibov

               ^BVSP  Weekday
Date
2010-01-04  0.024128        0
2010-01-11 -0.018458        0
2010-01-18 -0.040805        0
2010-01-25 -0.012430        0
2010-02-01 -0.041187        0
...              ...      ...
2021-11-29  0.027460        0
2021-12-06  0.025261        0
2021-12-13 -0.005182        0
2021-12-20 -0.021784        0
2021-12-27 -0.000658        0

[626 rows x 2 columns]

In [42]:
selic_weekly = selic[selic.Weekday==0]

teste = pd.concat([selic_weekly,ibov],axis=1)

selic_weekly = pd.DataFrame(teste["CumProd"])

selic_weekly["shift"] = selic_weekly.CumProd.shift(1)

selic_weekly["Selic"] = (selic_weekly["CumProd"]/selic_weekly["shift"])-1

selic_weekly.Selic.iloc[0] = selic_weekly.Selic.iloc[1]


selic = selic_weekly["Selic"]

selic

Date
2010-01-04    0.001647
2010-01-11    0.001647
2010-01-18    0.001647
2010-01-25    0.001647
2010-02-01    0.001647
                ...
2021-11-29    0.001464
2021-12-06    0.001464
2021-12-13    0.001629
2021-12-20    0.001739
2021-12-27    0.001739
Freq: W-MON, Name: Selic, Length: 626, dtype: object

In [43]:
selic.to_csv("../data/weekly_selic.csv")